{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/moods/moods-index.css' %}"
/>
{% endblock %}

{% block content %}
<div class="page-header" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100px;">
  <div> 
  <h1 style="font-size: 25px; color: #000000; text-align: center;">Mood Logs</h1>
</div>
  
    <div> 
    <p style="font-size: 16px; font-weight: 600; color: #000000;"> Your day to day mood snapshots</p>
  </div>

  <div style="font-size: 16px; width: 740px; color: #000000; text-align: justify;">
  <p> 
  Each card shows a date where you recorded your mood. Click on a card to dive deeper and read how you felt, your mood
  intensity, and personal reflections. Keep track, learn, and grow with your daily logs.</p>
</div>
</div>
</div>

<section class="card-container">
  {% for mood in moods %}
  <a href="{% url 'mood-detail' mood.id %}"  style="text-decoration: none;">
    <div class="card" style="background-color: #ffffff; border: 1px solid #f1d6b8;">

      <div class="card-content">
        <div class="card-img-container" >
          <img src="{% static 'images/header1.png' %}" style="width: 50px;" alt=" mood">
        </div>
        <h2 class="card-title" style="font-size: 18px; color: #000000; text-decoration-color: black; text-decoration: none;">{{ mood.created_at }}</h2>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

{% endblock %}