{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'images/header1.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Mood Ring</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body >
    <header style="height: 80px; width: 100%; padding-left: 21px; padding-right: 21px; background-color: #FFF7F0; ">
      <div class="header-logo-container" style="border-radius: 7px; background-color: #ffffff; width: 180px;">
        <a href="{% url 'home' %}" style="text-decoration: none;">
          <div style="display: flex;"> 
          <img src="{% static 'images/header1.png' %}" class="header-ring" alt=" Logo"  style="width: 18%; margin-top: -2px; margin-left: 0px;  margin-right: 60px;"/> <h3 style="font-size: 16px; text-decoration: none; color: #000000; margin-top: 0px; margin-left: -50px;"> Mood Ring</h3>
        </div>
        </a>
      </div>
      <nav style="border-radius: 7px; background-color: #ffffff; ">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'moods' %}" style="color: #000000;">Dashboard</a></li>
          <li><a href="{% url 'mood-create' %}" style="color: #000000;">Log a Mood</a></li>
          <li><a href="{% url 'about' %}" style="color: #000000;">Resources</a></li>
          

          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" style="color: #000000;">Log out</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main >
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>